{% extends "_base.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="max-w-md mx-auto bg-base-100 rounded-lg shadow-xl p-8">
        <div class="text-center mb-8">
            <img src="https://res.cloudinary.com/dhhaiy58r/image/upload/v1721420288/Black_White_Minimalist_Clothes_Store_Logo_e1o8ow.png" 
                 alt="Logo" 
                 class="mx-auto w-32 mb-4">
            <h1 class="text-2xl font-bold">{% trans "Password Reset" %}</h1>
            
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            
            <p class="text-base-content/70 mt-2">{% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
        </div>

        <div class="text-center">
            <a href="{% url 'pages:home' %}" 
               class="btn btn-primary w-full">
                {% trans "Return to Home" %}
            </a>
        </div>
    </div>
</div>
{% endblock %}