{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}JUME MEGA WEARS & ACCESSORIES{% endblock title %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <style>
        @layer utilities {
            .fade-out {
                opacity: 0;
                visibility: hidden;
            }
            
            .preloader-transition {
                transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
            }
        }
    </style>
    {% tailwind_css %}
</head>

<body class="bg-gray-100 min-h-screen flex flex-col">

    <div class="container mx-auto">
        <header>
            {% block header %}
            <div class="hero py-4 my-2 md:py-6 md:my-3 lg:py-8 lg:my-4">
                <div class="hero-content text-center">
                    <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-bold font-serif text-error animate-pulse">
                        JMW & ACCESSORIES
                    </h1>
                </div>
            </div>
            {% endblock header %}
        </header>
    </div>

    <div class="sticky top-0 z-50 bg-base-100 w-full">
        <nav class="container mx-auto">
            {% block nav_bar %}
            {% include "partials/navbar.html" %}
            {% endblock nav_bar %}
        </nav>
    </div>
    
    <div>
        {% block messages %}
        {% include "partials/messages.html" %}
        {% endblock %}
    </div>

    <main class="flex-grow">
        <div class="container mx-auto mt-4">
            {% block content %}
            {% endblock content %}
        </div>
    </main>

    <footer>
        {% block footer %}
        {% include "partials/footer.html" %}
        {% endblock footer %}
    </footer>

    <div class="h-16 md:hidden">
    <!-- Empty div for mobile spacing -->
    </div>

    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% if debug %}
        <script src="https://unpkg.com/htmx.org"></script>
    {% else %}
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    {% endif %}
    <script src="https://js.paystack.co/v1/inline.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/social-share.js' %}"></script>
    <script src="{% static 'js/cart-handler.js' %}"></script>
    <script src="{% static 'js/feed.js' %}"></script>
    <script src="{% static 'js/contact-form.js' %}"></script>
    <script src="{% static 'js/checkout.js' %}"></script>
    <script src="{% static 'js/bulk_order.js' %}"></script>
    <script src="{% static 'js/comments.js' %}"></script>
</body>
</html>