<!-- bulk_orders/templates/bulk_orders/partials/links_container.html -->
<div class="space-y-6">
    {% for link in active_links %}
        {% include "bulk_orders/partials/link_display.html" with bulk_order=link %}
    {% endfor %}
    
    <div class="card-actions justify-end mt-4">
        <button class="btn btn-outline"
                hx-get="{% url 'bulk_orders:generate' %}?show_form=true"
                hx-target="#bulk-order-content"
                hx-swap="innerHTML">
            <span>Generate New Link</span>
        </button>
    </div>
</div>
