<!-- bulk_orders/templates/bulk_orders/partials/links_container.html -->
<div class="text-sm text-gray-500">
    Number of links: {{ active_links|length }}
</div>

<div class="space-y-6">
    {% for link in active_links %}
        {% include "bulk_orders/partials/link_display.html" with bulk_order=link %}
    {% endfor %}
    
    <div class="card-actions justify-end mt-4">
        <button class="btn btn-outline" id="submit-btn"
                hx-get="{% url 'bulk_orders:generate' %}?show_form=true"
                hx-target="#bulk-order-content"
                hx-swap="innerHTML">
            <span id="btn-text">Generate New Link</span>
            <svg id="spinner" class="hidden ml-2 w-5 h-5 animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8H4z"></path>
            </svg>
        </button>
    </div>
</div>
