<!--<div id="messages-container" class="fixed top-4 right-4 z-50">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} mb-2 shadow-lg">
                <div>
                    {% if 'success' in message.tags %}
                        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    {% endif %}
                    <span>{{ message }}</span>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>-->